:root { /* CSS variables pass through one shadow DOM boundary */
--max-screen: 768px;
--main-color: #092b00;
--main-bg-color: #fafafa;
--drag-color: #2f54eb;
--info-color: #237804;
--token-color-red: #820014;
--token-color-orange: #612500;
--token-color-lime: #3f6600;
--token-color-cyan: #00474f;
--token-color-gold: #613400;
--token-color-purple: #22075e;
--token-color-magenta:#780650;
--token-computed-color: #030852;
}

* {margin: 0; padding: 0;}

html {max-width: var(--max-screen); margin: 0 auto;}

body {background-color: var(--main-bg-color); overflow: hidden; touch-action: none; user-select: none; -webkit-user-select: none;}

#game:has(.button:active) menu-inplay {opacity: 1; visibility: visible;}
#game:has(.button:active, menu-inplay:hover) game-slot {opacity: 0.25;}

#log {
position: absolute;
width: 100vw;
top: 2vh;
}

#messageBoard {
position: absolute;
top: 2vh;
margin: 0 auto;
width: 100vw;
}

#messageBoard:empty {display: none;}

.wrapper {
background-color: var(--main-bg-color);
border-radius: 1vh;
box-shadow: 0px 5px 5px silver;
display: block;
font-family: "Poppins", sans-serif;
font-weight: 200;
font-size: 1.25em;
margin: 2vh auto 1vh;
padding: 0.5vh 2vw 0.5vh;
text-align: center;
width: fit-content;

& i {margin-right: 0.5em};
}

menu-inplay {
padding: 0 10vw;
position: absolute;
width: 80vw;
}

tiktek-game {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: flex-start;
gap: 0vw;
padding: 2vh 2vw;
}

tiktek-game:has(.dragged) game-token:not(.dragged) {color: gray; opacity: 0.25;}

game-slot {
align-items: baseline;
aspect-ratio: 1.25;
display: flex;
justify-content: center;
transition: all 500ms ease;
height: auto;
width: 180px;
}

game-token {
cursor: pointer;
font-family: "Ubuntu", sans-serif;
font-weight: 700;
font-size: 8rem;
transition: color 500ms ease-in-out;
}

math-bar {
color: var(--drag-color);
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.nav {
bottom: 10vh;
opacity: 0;
transition: all 500ms ease;
visibility: hidden;

&:hover,
&:focus-within {opacity: 1; visibility: visible;}
}

.button {
bottom: 3vh;
z-index: 1;
}

.attemptLog {
border-radius: 1vh;
box-shadow: 0px 3px 3px gray;
color: var(--main-color);
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 2vh;
margin: 1vh auto;
position: relative;
width: 90vw;

& span {display: block; padding: 0.5vh 2vw 0.5vh;}
& i {position: absolute; top: 1vh; right: 2vw;}
}

.attemptLog:first-of-type i {pointer-events: none; color: gray;}
.attemptLog:nth-child(odd) {background-color: #fff1f0;}
.attemptLog:nth-child(even) {background-color: #fffbe6;}

.fade-out {animation: fade-out 500ms cubic-bezier(.390,.575,.565,1) both;}
@keyframes fade-out {0%{opacity:1}100%{opacity:0}}

.slide-down {animation: slide-down 500ms cubic-bezier(.51,.51,.23,1.29) both;}
@keyframes slide-down {0%{transform:translateY(-100px);opacity:0}100%{transform:translateY(0);opacity:1}}

.dragged {position: absolute;}
.dragging {color: var(--drag-color) !important; text-shadow: gray 2px 2px 5px;}

.appear {display: block !important;}
.hide {display: none !important;}

.red {color: var(--token-color-red);}
.orange {color: var(--token-color-orange);}
.lime {color: var(--token-color-lime);}
.cyan {color: var(--token-color-cyan);}
.gold {color: var(--token-color-gold);}
.purple {color: var(--token-color-purple);}
.magenta {color: var(--token-color-magenta);}
.computed-geekblue {color: var(--token-computed-color);}
.info {color: var(--info-color);}

li {display: flex; align-items: center;}
li:nth-of-type(n+2) {margin-top: 2vh;}
li:only-child() span {color: var(--target-color);}

:modal {
background-color: transparent;
border: none;
margin: 50vh auto 0;
touch-action: none;
width: 70%;
user-select: none;
-webkit-user-select: none;
}

::backdrop {backdrop-filter: blur(2px);}